 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">JUPITER</a>
  </nav>




  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
           <div class="carousel-item active">
        <img src="../../assets/Content1.jpeg" class="d-block w-100" alt="...">
      </div>
        </div>
    </div>
